.login {
  margin-top: 4%;
  margin-bottom: auto;
  display: flex;
}

.image {
  margin-top: 4%;
  margin-left: 20%;
}

.image h1 {
  font-size: 4rem;
  margin: 0;
  letter-spacing: 6px;
  text-shadow: 2px 2px 2px blue;
}

.image span {
  font-style: italic;
}

.image img {
  height: 480px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 4% auto 0 auto;
  padding: 25px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mat-mdc-form-field {
  width: 80%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.forgot-password {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.create-account-group {
  text-align: center;
  margin-top: 20px;
}

.create-account-group a {
  color: #007bff;
  text-decoration: none;
}

.create-account-group a:hover {
  text-decoration: underline;
}
