.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  overflow: hidden;
}

.mat-mdc-form-field {
  width: 80%;
}

.register-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 300px;
}

button[type="submit"] {
  margin-top: 20px;
}

.error-message {
  color: red;
}
