<form class="register-form" [formGroup]="registrationForm" (ngSubmit)="registerUser()">
  <h2>Register</h2>
  <mat-form-field class="form-group">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" required>
    <mat-error *ngIf="registrationForm.controls['username'].hasError('required')">
      Username is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
    <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
      Invalid email format.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-group">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
      Password is required.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Register</button>

  <div class="error-message" *ngIf="registrationError">{{ registrationError }}</div>
</form>