@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*,
*:after,
*:before {
    box-sizing: border-box;
}

div {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #eb3d34;
    font-size: 8rem;
    letter-spacing: .05em;
    margin: .025em 0;
    text-shadow: .05em .05em 0 rgba(0, 0, 0, .25);
    white-space: nowrap;
}

h2 {
    color: #eb3d34;
    margin-bottom: .40em;
}

p {
    color: #000000;
    margin-top: 0;
}