<div class="wrapper">
  <h1 mat-dialog-titlec class="title">{{ data.title }}</h1>
  <div mat-dialog-content class="content">
    <mat-form-field>
      <mat-label>Catalog Name</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="button-group">
    <button
      class="button"
      mat-button
      [mat-dialog-close]="data.name"
      cdkFocusInitial
    >
      Ok
    </button>
    <button class="button" mat-button (click)="close()">Close</button>
  </div>
</div>
