.container {
  padding: 30px;
}

.content {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: stretch;
}

.chart {
  height: 500px;
  width: 38%;
}

.list {
  width: 28%;
}
