<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Pending Ticket</span>
        <p>This month</p>
      </div>
      <p class="card-body">{{ summary.pendingTicket }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Processing Ticket</span>
        <p>This month</p>
      </div>
      <p class="card-body">{{ summary.processingTicket }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Rejected Ticket</span>
        <p>This month</p>
      </div>

      <p class="card-body">{{ summary.rejectTicket }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Completed Ticket</span>
        <p>This month</p>
      </div>
      <p class="card-body">{{ summary.completedTicket }}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
