<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Review Ticket</span>
        <p>This month</p>
      </div>
      <p class="card-body">{{ summary.review }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Pending Ticket</span>
        <p>This month</p>
      </div>
      <p class="card-body">{{ summary.pending }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Processing Ticket</span>
        <p>This month</p>
      </div>

      <p class="card-body">{{ summary.processing }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="card">
      <div class="card-header">
        <span>Done Ticket</span>
        <p>This month</p>
      </div>
      <p class="card-body">{{ summary.done }}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
