.container {
  margin: 18px auto;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top mat-form-field {
  width: 20%;
}

.top .back-link {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px;
}

.top .back-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}

.search-field {
  padding: 10px;
}

.item-link {
  text-decoration: none;
  color: black;
}

.button-container {
  display: flex;
  padding: 10px;
  flex-direction: row-reverse;
}

.button-container button {
  padding: 14px;
  margin: 8px;
}
