<div class="container">
  <div class="link">
    <a routerLink="/item">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>Return to List</span>
    </a>
  </div>
  <form class="form" [formGroup]="itemForm">
    <div class="img">
      <img [src]="img" />
    </div>
    <div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" readonly />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" readonly />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Catalog</mat-label>
          <input matInput formControlName="catalogName" readonly />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" readonly />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>InStock</mat-label>
          <input matInput formControlName="inStock" readonly />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>In Use</mat-label>
          <input matInput formControlName="inUsing" readonly />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Created Date</mat-label>
          <input matInput readonly formControlName="createdDate" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Created By User</mat-label>
          <input matInput formControlName="createdByUser" readonly />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Updated Date</mat-label>
          <input matInput readonly formControlName="updatedDate" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Updated By User</mat-label>
          <input matInput formControlName="updatedByUser" readonly />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
