.container {
  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
}

.mat-table {
  width: 100%;
}

mat-paginator {
  margin-bottom: 90px;
}

.add-style {
  position: absolute;
  margin-top: 20px;
  right: 2%;
}
