<div class="container">
  <div class="link">
    <a routerLink="/item">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>Return to List</span>
    </a>
  </div>
  <form class="form" [formGroup]="itemForm" (ngSubmit)="submitItem()">
    <div class="img">
      <img *ngIf="!isLoading; else loadingBlock" [src]="img" />
      <ng-template #loadingBlock>
        <mat-spinner></mat-spinner>
      </ng-template>
      <input
        type="file"
        multiple
        accept="image/*"
        (change)="onFileSelected($event)"
        #hiddenfileinput
      />
      <button (click)="hiddenfileinput.click()" type="button">
        <mat-icon>cloud</mat-icon>
        <span>Upload Image</span>
      </button>
    </div>
    <div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Catalog</mat-label>
          <mat-select [(value)]="selectedValue" formControlName="catalogId">
            <mat-option *ngFor="let catalog of catalogs" [value]="catalog.id">
              {{ catalog.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Catalog</mat-label>
          <input
            type="text"
            matInput
            formControlName="catalogId"
            [matAutocomplete]="auto"
            (keyup)="getCatalog()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let catalog of catalogs" [value]="catalog.id">
              {{ catalog.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
      </div>
      <div>
        <mat-form-field id="description" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" class="button">
        Submit
      </button>
    </div>
  </form>
</div>
