<h1 mat-dialog-title>Detail infomation</h1>
<div mat-dialog-content class="dialog-content">
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input type="number" min="0" matInput [(ngModel)]="data.quantity" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Note</mat-label>
    <input matInput [(ngModel)]="data.note" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    class="dialog-button"
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
