<div class="container">
  <div>
    <mat-form-field class="search">
      <input
        matInput
        [(ngModel)]="searchValue"
        (keyup)="refreshData()"
        placeholder="Search"
      />
    </mat-form-field>
  </div>
  <div class="table">
    <mat-table [dataSource]="exports" matSort (matSortChange)="refreshData()">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let export">{{ export.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Description</mat-header-cell
        >
        <mat-cell *matCellDef="let export">{{ export.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Status</mat-header-cell
        >
        <mat-cell *matCellDef="let export">{{ export.status }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="forUser">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >For User</mat-header-cell
        >
        <mat-cell *matCellDef="let export">{{
          export.forUser.userName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let export">
          <button mat-button routerLink="{{ export.id }}" color="primary">
            Detail
          </button>
          <button
            mat-button
            (click)="updateStatus(export.id)"
            color="primary"
            *ngIf="export.status != 'Done'"
          >
            Update Status
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    #paginator
    [length]="totalRecords"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</div>
