<mat-tab-group backgroundColor="primary">
  <mat-tab label="Order">
    <mat-list role="list">
      <div *ngIf="orders.length > 0; else noData">
        <mat-list-item role="listitem" *ngFor="let order of orders">
          <div class="item">
            Order
            <a routerLink="/order/{{ order.recordId }}">{{
              "#" + order.orderId
            }}</a>
            last update
            {{ formattedDate(order.updatedAt) }}
            by {{ order.updatedBy }}
          </div>
        </mat-list-item>
      </div>
    </mat-list></mat-tab
  >
  <mat-tab label="Export">
    <mat-list role="list">
      <div *ngIf="exports.length > 0; else noData">
        <mat-list-item role="listitem" *ngFor="let item of exports"
          >Export <a routerLink="/export/{{ item.id }}">{{ "#" + item.id }}</a
          >. Create at
        </mat-list-item>
      </div>
    </mat-list></mat-tab
  >
</mat-tab-group>

<ng-template #noData>
  <div class="noData">
    <h4>No records</h4>
  </div>
</ng-template>
