.container {
  margin: 35px 30px 0;
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container .header mat-form-field {
  width: 20%;
}

.container .header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}

.container .content {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.noData {
  margin: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

.img {
  padding: 10px;
  height: 140px;
}

.descriptionInput {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  padding: 10px;
  flex-direction: row-reverse;
}

.button button {
  padding: 14px;
  margin: 8px;
}

.add-section {
  display: flex;
  width: 40%;
}
.add-section mat-icon {
  font-size: 3rem;
  height: 48px;
  width: 48px;
  overflow: visible;
}
