<div class="container">
  <div class="header">
    <mat-form-field>
      <mat-label>Enter item name to add</mat-label>
      <input
        type="text"
        aria-label="Item"
        matInput
        [matAutocomplete]="auto"
        [(ngModel)]="searchValue"
        appDelayedInput
        (delayedInput)="getItems()"
        [delayTime]="500"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectOption($event)"
      >
        <mat-option *ngFor="let item of items" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <a routerLink="/order">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>Return to List</span>
    </a>
  </div>
  <div class="descriptionInput">
    <mat-form-field appearance="fill">
      <mat-label>Description for the order</mat-label>
      <input type="text" matInput [(ngModel)]="description" />
    </mat-form-field>
  </div>
  <div class="content" *ngIf="isHasData; else elseBlock">
    <mat-table [dataSource]="entriesDS" class="item">
      <ng-container matColumnDef="itemImage">
        <mat-header-cell *matHeaderCellDef>Item Image</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <img
            class="img"
            src="{{ detail.item.imageUrl }}"
            alt="{{ detail.item.name }}"
          />
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="itemName">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <a class="link" routerLink="/item/{{ detail.item.id }}">
            {{ detail.item.name }}
          </a>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{
          (detail.minPrice | number : "1.0-0") +
            " - " +
            (detail.maxPrice | number : "1.0-0")
        }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{ detail.quantity }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{
          sumQuantity | number : "1.0-0"
        }}</mat-footer-cell>
      </ng-container>

      <ng-container class="" matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{
          (detail.minPrice * detail.quantity | number : "1.0-0") +
            " - " +
            (detail.maxPrice * detail.quantity | number : "1.0-0")
        }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>
          {{
            (minTotal | number : "1.0-0") +
              " - " +
              (maxTotal | number : "1.0-0")
          }}</mat-footer-cell
        >
      </ng-container>
      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          {{ detail.note }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <button
            mat-button
            color="warn"
            [swal]="{ 
                        title: 'Remove item',
                        icon: 'warning',
                        text:'Confirm remove: '+detail.item.name,
                        showCancelButton: true,
                        confirmButtonText: 'Remove item',
                        confirmButtonColor: '#d61313',
                    }"
            (confirm)="removeItem(detail.item.id)"
          >
            Remove
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row
        *matFooterRowDef="displayedColumns; sticky: true"
      ></mat-footer-row>
    </mat-table>
  </div>
  <ng-template #elseBlock>
    <div class="noData">
      <h2>No data</h2>
      <span>Please add new item to the order</span>
    </div>
  </ng-template>
  <div class="button" *ngIf="isHasData">
    <button mat-button mat-raised-button color="basic" (click)="clearAll()">
      Clear All
    </button>
    <button mat-button color="primary" mat-raised-button (click)="addOrder()">
      Add Order
    </button>
  </div>
</div>
