<div class="container">
  <div class="back-link">
    <a routerLink="/ticket">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>Return to List</span>
    </a>
  </div>
  <form class="form-group" [formGroup]="formGroup">
    <div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Purpose</mat-label>
          <mat-select matInput formControlName="type">
            <mat-option value="1">Export Item</mat-option>
            <mat-option value="2">Change Item</mat-option>
            <mat-option value="3">Fix Item</mat-option>
            <mat-option value="4">Import Item</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="top">
    <mat-form-field>
      <mat-label>Find Item</mat-label>
      <input
        type="text"
        aria-label="Item"
        matInput
        [matAutocomplete]="auto"
        [(ngModel)]="searchValue"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectOption($event)"
      >
        <mat-option *ngFor="let item of []" [value]="item">
          {{ item }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <mat-table [dataSource]="[]" class="item">
    <ng-container matColumnDef="itemImage">
      <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
      <mat-cell *matCellDef="let detail">
        <a class="item-link" routerLink="/item/{{ detail.item.id }}">
          {{ detail.item.name }}
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemName">
      <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
      <mat-cell *matCellDef="let detail">
        <a class="item-link" routerLink="/item/{{ detail.item.id }}">
          {{ detail.item.name }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let detail">{{ detail.quantity }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let detail">{{ detail.type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let detail">{{ detail.type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let detail">
        <button
          mat-button
          color="warn"
          [swal]="{ 
                        title: 'Remove item',
                        icon: 'warning',
                        text:'Remove item #'+detail.item.id,
                        showCancelButton: true,
                        confirmButtonText: 'Remove item',
                        confirmButtonColor: '#d61313',
                    }"
        >
          Remove
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<div class="button-container" *ngIf="">
  <button mat-button mat-raised-button color="basic">Clear All</button>
  <button mat-button color="primary" mat-raised-button>Add Ticket</button>
</div>
