<div class="container">
  <mat-form-field class="search">
    <input
      matInput
      [(ngModel)]="searchValue"
      (keyup.enter)="refreshData()"
      placeholder="Search"
    />
  </mat-form-field>
  <button
    mat-button
    class="button"
    mat-raised-button
    color="primary"
    routerLink="add"
  >
    Add New
  </button>
  <div class="table">
    <mat-table
      [dataSource]="data"
      matSort
      (matSortChange)="refreshData()"
      [matSortActive]="sortColumn"
      matSortDirection="desc"
    >
      <ng-container matColumnDef="imageUrl">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Image</mat-header-cell
        >
        <mat-cell *matCellDef="let item">
          <div class="img">
            <img [src]="item.imageUrl" /></div
        ></mat-cell>
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Code</mat-header-cell
        >
        <mat-cell *matCellDef="let item">{{ item.code }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Category</mat-header-cell
        >
        <mat-cell *matCellDef="let item">{{ item.category.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="unit">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Unit</mat-header-cell
        >
        <mat-cell *matCellDef="let item">{{ item.unit }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="useUnit">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Use Unit</mat-header-cell
        >
        <mat-cell *matCellDef="let item">{{ item.useUnit }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-button routerLink="edit/{{ item.id }}" color="primary">
            Edit
          </button>
          <button mat-button routerLink="{{ item.id }}" color="primary">
            Detail
          </button>
          <button
            mat-button
            color="warn"
            [swal]="{ 
                        title: 'Delete item',
                        icon: 'warning',
                        text:'Delete #'+item.name+' It\'s can\'t be undone ',
                        showCancelButton: true,
                        confirmButtonText: 'Delete',
                        confirmButtonColor: '#d61313',
                    }"
            (confirm)="deleteItem(item.id)"
          >
            Delete
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    #paginator
    [length]="total"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
