<div class="container">
  <div>
    <mat-form-field class="search">
      <input
        matInput
        [(ngModel)]="searchValue"
        appDelayedInput
        (delayedInput)="applyFilter()"
        [delayTime]="600"
        placeholder="Search by order ID, item name"
      />
    </mat-form-field>
    <button
      mat-button
      class="button"
      mat-raised-button
      color="primary"
      routerLink="add"
    >
      Add New
    </button>
  </div>
  <div class="table">
    <mat-table [dataSource]="orders" matSort (matSortChange)="matSortChange()">
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Order ID</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{ order.orderId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Created At</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{
          formattedDate(order.createdAt) + " By " + order.createdBy
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Status</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{
          order.completeDate == null
            ? order.status
            : order.status + " At " + formattedDate(order.completeDate)
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Last Updated</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{
          formattedDate(order.updatedAt) + " By " + order.updatedBy
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Description</mat-header-cell
        >
        <mat-cell *matCellDef="let order">{{ order.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let order">
          <button
            mat-button
            routerLink="entry/{{ order.recordId }}"
            color="primary"
          >
            Detail
          </button>
          <button
            *ngIf="order.status != 'Done' && order.status != 'Cancel'"
            mat-button
            color="warn"
            [swal]="{ 
                        title: 'Cancel order',
                        icon: 'warning',
                        text:'Cancel order #'+order.orderId,
                        showCancelButton: true,
                        confirmButtonText: 'Cancel order',
                        confirmButtonColor: '#d61313',
                    }"
            (confirm)="cancelOrder(order.orderId)"
          >
            Cancel
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    #paginator
    [length]="totalOrder"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</div>
