.container {
  margin: 35px 30px 0;
}

.search {
  width: 100%;
}

.table {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

mat-header-cell:last-child,
mat-cell:last-child {
  justify-content: center;
}

mat-paginator {
  margin-bottom: 90px;
}

.img {
  display: flex;
  padding: 8px 20px;
  flex-direction: column;
  align-items: center;
}

.img img {
  height: 70px;
  width: 100px;
}
