<div class="container">
  <div class="back-link">
    <a routerLink="/catalog">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>Return to List</span>
    </a>
  </div>
  <form
    class="catalog-form"
    [formGroup]="catalogForm"
    (ngSubmit)="submitCatalog()"
  >
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="update-button"
      >
        Submit
      </button>
    </div>
  </form>
</div>
