.container {
  margin: 20px;
}

.container .back-link {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px;
}

.container .back-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}

.catalog-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  overflow: hidden;
}

.catalog-form mat-form-field {
  padding: 20px;
  width: 320px;
}

.update-button {
  left: 40%;
  padding: 20px 50px;
}
