<div class="container">
  <div>
    <mat-form-field class="search">
      <input
        matInput
        [(ngModel)]="searchValue"
        (keyup)="applyFilter()"
        placeholder="Search by Item name, ID, Title, Description"
      />
    </mat-form-field>
    <button
      mat-button
      class="button"
      mat-raised-button
      color="primary"
      routerLink="add"
    >
      Add new
    </button>
  </div>
  <mat-table
    class="table"
    [dataSource]="dataTable"
    matSort
    (matSortChange)="matSortChange()"
  >
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Ticket ID</mat-header-cell
      >
      <mat-cell *matCellDef="let x">{{ x.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let x">{{ x.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let x">{{ x.purpose }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Description</mat-header-cell
      >
      <mat-cell *matCellDef="let x">{{ x.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell *matCellDef="let x">{{ x.status }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="create">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Created At</mat-header-cell
      >
      <mat-cell *matCellDef="let x">{{ dateString(x.createdDate) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let x">
        <button mat-button routerLink="{{ x.id }}" color="primary">
          Detail
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [length]="totalRecords"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</div>
