<mat-sidenav-container
  class="app-drawer-container"
  fullscreen
  hasBackdrop="true"
>
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">home</mat-icon>
          <span>Dashboard</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/item" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">list</mat-icon>
          <span>Item</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/catalog" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">list</mat-icon>
          <span>Catalog</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/order" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">list</mat-icon>
          <span>Order</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/export" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">list</mat-icon>
          <span>Export</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/receipt" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">list</mat-icon>
          <span>Receipt</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet class="router-outlet-custom"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
