.container {
  margin: 15px 35px 0;
  overflow-x: hidden;
}

.container .header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

.container .header span {
  font-size: 1.25rem;
  font-weight: 500;
}

.container .header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}

.container .content {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.history {
  display: flex;
}

.history mat-form-field {
  width: 95%;
}

.history mat-icon {
  width: 40%;
  height: 100%;
  font-size: 2rem;
  overflow: visible;
  top: 45%;
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form mat-form-field {
  padding: 15px;
  width: 320px;
}

.description {
  width: 98% !important;
}

.img {
  padding: 10px;
  height: 140px;
}

.link {
  text-decoration: none;
  color: black;
}

.item {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  background-color: #f4f4f4;
}
