<div class="container">
  <div class="header">
    <h2>Order Detail</h2>
    <a routerLink="/order">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>Return to List</span>
    </a>
  </div>
  <div class="content">
    <div class="history">
      <mat-form-field appearance="fill">
        <mat-label>History</mat-label>
        <mat-select [(value)]="defaultRecord">
          <mat-option
            *ngFor="let history of histories"
            [value]="history.recordId"
            routerLink="/order/entry/{{ history.recordId }}"
          >
            {{ historyToString(history) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div
        style="display: flex"
        *ngIf="operation.order.canEdit && !statusCheck.isClose"
      >
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *ngIf="operation.order.canApproval && statusCheck.canApproval"
            mat-menu-item
            (click)="openDialog()"
          >
            Approval
          </button>
          <button
            *ngIf="statusCheck.canUpdateStatus"
            mat-menu-item
            (click)="updateStatus()"
          >
            Update status
          </button>
          <button *ngIf="statusCheck.canEdit" mat-menu-item routerLink="edit">
            Edit
          </button>
          <button
            *ngIf="statusCheck.canCancel"
            mat-menu-item
            (click)="cancelOrder()"
          >
            Cancel
          </button>
        </mat-menu>
      </div>
    </div>
    <form class="form" [formGroup]="orderForm">
      <div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Order ID</mat-label>
            <input matInput formControlName="id" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Order Date</mat-label>
            <input matInput formControlName="orderDate" readonly />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Order by</mat-label>
            <input matInput formControlName="orderBy" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Order Status</mat-label>
            <input matInput formControlName="status" readonly />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="description">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" readonly />
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-table [dataSource]="entries" class="item">
      <ng-container matColumnDef="itemImage">
        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <img
            class="img"
            src="{{ detail.item.imageUrl }}"
            alt="{{ detail.item.name }}"
          />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="itemName">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <a class="link" routerLink="/item/{{ detail.item.id }}">
            {{ detail.item.name }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{ detail.quantity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{
          detail.minPrice + " - " + detail.maxPrice
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{
          detail.minTotal + " - " + detail.maxTotal
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{ detail.note }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
