.navbar-title {
    font-size: 1.35rem;
    font-weight: 600;
    letter-spacing: 0.075em;
    cursor: pointer;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.app-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}