.navbar-title {
  font-size: 1.35rem;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.app-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userInfo span {
  font-size: 1rem;
}
.userInfo p {
  margin: 0;
  padding-top: 0;
  font-size: 0.95rem;
  font-style: italic;
}
