<mat-sidenav-container class="app-drawer-container" fullscreen>
  <mat-sidenav
    #sidenav
    mode="side"
    class="sidenav"
    [opened]="isAuthenticated()"
  >
    <mat-nav-list>
      <mat-list-item routerLink="/" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">home</mat-icon>
          <span>Dashboard</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/item" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">apps</mat-icon>
          <span>Item List</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/catalog" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">apps</mat-icon>
          <span>Category List</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/order" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">apps</mat-icon>
          <span>Order List</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/export" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">apps</mat-icon>
          <span>Export List</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/ticket" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">apps</mat-icon>
          <span>Ticket List</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/ticket" routerLinkActive="active">
        <div class="nav-item">
          <mat-icon class="icon-style">apps</mat-icon>
          <span>Item Management</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet class="router-outlet-custom"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
