.container {
  margin: 35px 30px 0;
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header span {
  font-size: 1.25rem;
  font-weight: 500;
}

.container .header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
}

.container .content {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;

  background-color: #f4f4f4;
}

.form mat-form-field {
  padding: 15px;
  width: 320px;
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  padding: 12px;
}

.img {
  padding: 10px;
  height: 140px;
}

.link {
  text-decoration: none;
  color: black;
}

.item {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  background-color: #f4f4f4;
}
