<div class="container">
  <div class="header">
    <a routerLink="/ticket">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>Return to List</span>
    </a>
  </div>
  <div class="content">
    <div class="history">
      <mat-form-field appearance="fill">
        <mat-label>History</mat-label>
        <mat-select [(value)]="defaultRecord">
          <mat-option
            *ngFor="let history of histories"
            [value]="history.recordId"
            routerLink="/ticket/entry/{{ history.recordId }}"
          >
            {{ historyToString(history) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="operation.ticket.canEdit">
          <button
            *ngIf="operation.ticket.canApproval && statusCheck.canApproval"
            mat-menu-item
            (click)="openDialog()"
          >
            Approval
          </button>
          <button
            *ngIf="
              operation.ticket.canChangeStatus && statusCheck?.canUpdateStatus
            "
            mat-menu-item
            (click)="updateStatus()"
          >
            Update status
          </button>
          <button *ngIf="statusCheck?.canEdit" mat-menu-item routerLink="edit">
            Edit
          </button>
          <button
            *ngIf="statusCheck?.canCancel"
            mat-menu-item
            (click)="cancelTicket()"
          >
            Cancel
          </button>
        </div>
      </mat-menu>
    </div>
    <form class="form" [formGroup]="formGroup">
      <div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>TIcket ID</mat-label>
            <input matInput formControlName="ticketId" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ticket Type</mat-label>
            <input matInput formControlName="type" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <input matInput formControlName="status" readonly />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Created At</mat-label>
            <input matInput formControlName="createdAt" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Created By</mat-label>
            <input matInput formControlName="createdBy" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Update</mat-label>
            <input matInput formControlName="updatedAt" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Updated By</mat-label>
            <input matInput formControlName="updatedBy" readonly />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" readonly />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Comment At</mat-label>
            <input matInput formControlName="commentAt" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Comment by</mat-label>
            <input matInput formControlName="commentBy" readonly />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Comment message</mat-label>
            <input matInput formControlName="message" readonly />
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-table [dataSource]="entries" class="item">
      <ng-container matColumnDef="itemImage">
        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <img
            class="img"
            src="{{ detail.item.imageUrl }}"
            alt="{{ detail.item.name }}"
          />
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="itemName">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <a class="link" routerLink="/item/{{ detail.item.id }}">
            {{ detail.item.name }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{ detail.quantity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{ detail.note }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
